
ul{
	color:red;
}
h2{
	color: red;
}
red{
	   color:pink;
}
h3{
	color:red;
	color:green;
}
@font-face {
    font-family: 'Poor Story', cursive;
    src: url("PoorStory-Regular.ttf") format("truetype");
}
.font-fac{
    background: black;
	font-family: 'Poor Story', cursive;
    font-size: 1.2em;
	color: white;
}
div h3{
	background: gold !important;
}
.key {
  font-size: 1.5rem;
  width: 400px;
  height: auto;
  background-color:skyblue;
  position: relative;
  animation: mymove 10s infinite;
}
@keyframes mymove{
  0%{
	left: 0px;
	background-color:pink;
	}
  25%{
	left: 200px;
	background-color:yellow;
  	
    }
  75%{
	left: 50px;
	background-color:red;
	}
  100%{
	left: 100px;
	background-color:orange;
	}
}
h3{
	background: yellowgreen;
}